@import "bootstrap";

@import "fonts";
@import "utilities";

@import "header";
@import "footer";

@import "../sections/hero";
@import "../sections/portfolio";
@import "../sections/services";
@import "../sections/testimonials";
@import "../sections/cta";
@import "../sections/contact";

@import "../sections/blog-list";
@import "../sections/blog-single";


body {
  text-align: justify;
}
h3, h4 {
  text-align: left;
}
h2 {
  font-size: 1.3rem;
  font-weight: bold;
  text-align: left;
}
a {
  text-decoration: none;
}