<head>
  <!-- Google tag (gtag.js) -->
  <script
    async
    src="https://www.googletagmanager.com/gtag/js?id=G-4LWKLH1PGH"
  ></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "G-4LWKLH1PGH");
  </script>
  <!-- Title -->
  <title>Dev Factory - Web Design & Development Agency</title>

  <!-- Meta -->
  <meta charset="UTF-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
  />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta
    name="description"
    content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else if .Description }}{{ .Description }}{{ else }}{{ .Site.Params.description }}{{end}}"
  />
  <meta
    name="keywords"
    content="{{ if .IsHome }}{{ .Site.Params.keywords }}{{ else if .Keywords }}{{ .Keywords }}{{ else }}{{ .Site.Params.keywords }}{{end}}"
  />
  <meta name="author" content="{{ .Site.Params.author }}" />
  <meta name="copyright" content="{{ .Site.Params.copyright }}" />
  <meta name="robots" content="index, follow" />
  <meta
    property="og:title"
    content="Dev Factory - Web Design & Development
  Agency"
  />
  <meta property="og:site_name" content="Dev Factory" />
  <meta property="og:url" content=https://www.devfactory.fr>
  <meta
    property="og:description"
    content="Nous sommes une agence de développement web
  spécialisée dans la création et le maintien de solutions sur mesure pour votre
  entreprise. Nous proposons des sites vitrines, des applications mobiles, des
  sites e-commerce et des prestations SEO afin de vous garantir une présence en
  ligne optimale, fiable et sécurisée."
  />
  <meta property="og:type" content="website" />
  <meta property="og:image"
  content=https://www.devfactory.fr/images/hero-image.webp>
  <link rel="canonical" href="https://devfactory.fr/" />

  <!-- Favicons and Manifest -->
  {{ partial "head/_favicons.html" . }}

  <!-- SEO: Google Analytics -->
  {{ partial "head/_seo.html" . }}

  <!-- Stylesheets and Javascript -->
  {{ partial "head/_resources.html" . }}

  <!-- RSS -->
  {{ range .AlternativeOutputFormats -}} {{ printf `
  <link rel="%s" type="%s" href="%s" title="%s" />
  ` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }} {{ end -}}
</head>
