<section class="section contact py-5" id="contact">
  <div class="container container-contact col-8">
    <div class="row justify-content-center">
      {{ with .content.title }}
      <h3 class="fs-1 fw-bold text-center text-primary pb-3">{{ . }}</h3>
      {{ end }}
      <form action="https://formspree.io/f/xbjekrba" method="POST">
        <div class="form-group">
          <input
            type="text"
            class="form-control mb-1"
            id="name"
            name="name"
            aria-describedby="nameHelp"
            placeholder="Entrez votre nom"
            autocomplete="off"
            pattern="[A-Za-z0-9]+"
            maxlength="50"
          />
          <input
            type="email"
            class="form-control mb-1 "
            id="email"
            name="email"
            aria-describedby="emailHelp"
            placeholder="Entrer votre email"
            autocomplete="off"
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
            required
          />
        </div>
        <div class="input-group">
          <textarea
            class="form-control"
            placeholder="Laissez nous un message"
            name="message"
            required
            autocomplete="off"
            minlength="10"
            maxlength="500"
          ></textarea>
        </div>
        {{ with .content.information }}
        <small id="emailHelp" class="form-text text-muted">{{ . }}</small>
        {{ end }}
        <div>
          {{ with .content.button }}
            <button
              type="submit"
              class="btn btn-outline-primary px-4 mt-3">
              {{ . }}
            </button>
          </a>
          {{ end }}
        </div>
        <input type="text" name="_gotcha" style="display: none" />
      </form>
    </div>
  </div>
</section>
